---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>

      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">subject</i></h2>
            <h5 class="center">Background</h5>

            <p class="light">
              The Internet of Things (IoT) is now becoming an integrated part of
              our society's infrastructure. The IoT includes a large number of
              small embedded devices that are connected to each other and the
              internet. IoT devices act as the interface between the physical
              and the digital world, enabling real-time insights into physical
              world dynamics. IoT systems are being deployed in a range of
              application domains, including factories, hospitals, as well as
              smart buildings and homes. Swedish industry and research has
              played a leading role in this development: IoT technology is an
              important offering of many Swedish companies, and several key
              technologies, such as Contiki OS, have a leading role in IoT
              system development.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">rowing</i></h2>
            <h5 class="center">Challenge</h5>

            <p class="light">
              The existing software infrastructure for IoT represents an
              impressive effort to equip small devices with advanced
              functionality. Now that the IoT revolution is here, society and
              industry face the challenge to use this software basis for
              building systems with the highest levels of security and
              safety.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">games</i></h2>
            <h5 class="center">Goal</h5>

            <p class="light">
              The goal of aSSIsT is to enable IoT system developers to meet this
              challenge, by providing them with powerful techniques that can
              detect and remove security vulnerabilities in software, ensure
              that security protocols provide guaranteed functionality, which
              prevent, detect, and mitigate intrusions when they occur. These
              techniques must furthermore be integrated in existing development
              process for IoT systems, by automating them and by focusing on
              low-power, battery-operated wireless devices, such as those found
              in IoT systems.</p>
          </div>
        </div>
      </div>

    </div>

    </div>
    <div style="background: #ddd">
    <div class="container last-post">
    <section>
        <h5>Latest Post</h5>
        <ul class="collection">
        {% for post in site.posts limit:5 %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>
    </section>
    </div>
</div>

  </div>
